<!DOCTYPE html>
<html>
      <head>
        <link rel="stylesheet" href="/css/style.css">             
    </head>

    <body>
        <div class="main-content">
            {{>header}}
        <h2>
            Welcome to the About page
        </h2>
        </div>
         
        <p>{{>footer}}</p>
    </body>

</html>
