<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">      
    </head>

    <body>
        <div>
            {{>header}}
        <h2>
           {{title}}
           <p>404 Error </p>
           <p>Page not found </p>
           <br>
           {{name}}
        </h2>  
        </div>
             
        <p>{{>footer}}</p>
    </body>

</html>