header {
    color: sienna;
    font-family: 'Courier New', Courier, monospace;
    
}

body {
    color: darkslategrey;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

footer {
    background: skyblue;
    color: brown;
    align-content: flex-end;
    align-items: center

}

img {
    align-items: center;
    width: 300px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    color: white;
    padding: 8px;
    background: #888888;
}

input{  
    border: 1px solid #888888;
    color:#444444;
    padding: 8px;
    background: white;
    font-style: normal;    
}

pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 0 16px;
    color: #444444;
    font-weight: bold
}